.isReserved {
  background-color:#AAF;
}
.reservationSlot {
  border:1px solid #000;
  height:160px;
  margin:10px;
}
.scheduleBtn {
  height:100px;
  margin:30px 0 30px 0;
}
.scheduleHours {
  margin-top:30px;
}
.navbar-brand {
  border-right:1px solid #777;
}
